<div class="header-content clearfix unsetBoxSizing">
    <div class="clearfix">
        <div class="logo one-third-last mobile-collapse">
            <p class="nav-text-pull-center"><a href="http://www.weston-ins.com/Home.aspx"><img src="images/logoname.jpg" class="logo_image"></a></p>
        </div>

        <div class="nav  one-third-last mobile-collapse top-menu">
            <div id="top-menu-container" class="clearfix">
                <a id="homepage" href="http://www.weston-ins.com/Home.aspx" onclick="window.open(this.href); return false;">Home</a>
                <a id="aboutpage" href="http://www.weston-ins.com/About.aspx" onclick="window.open(this.href); return false;">About Us</a>
                <a id="productspage" href="http://www.weston-ins.com/Products.aspx" onclick="window.open(this.href); return false;">Products</a>
                <a id="questionspage" href="http://www.weston-ins.com/Questions.aspx" onclick="window.open(this.href); return false;">Questions</a>
                <a class="nev-color" id="agentloginpage" href="https://westonal.csc-fsg.com/AgencyLinkC.0/" target="_blank" onclick="window.open(this.href); return false;">Agent Login</a>
                <a id="findanagentpage" href="http://www.weston-ins.com/FindAnAgent.aspx" onclick="window.open(this.href); return false;">Find an Agent</a>
                <a id="makeapaymentpage" href="http://www.weston-ins.com/MakeAPayment.aspx" onclick="window.open(this.href); return false;">Make a Payment</a>
                <a id="claimspage" href="http://www.weston-ins.com/Claims.aspx" onclick="window.open(this.href); return false;">Claims</a>
                <a id="resourcespage" href="http://www.weston-ins.com/Resources.aspx" onclick="window.open(this.href); return false;">Resources</a>
                <a id="policyholderspage" href="http://www.weston-ins.com/PolicyHolders.aspx" onclick="window.open(this.href); return false;">Policyholders</a>
            </div>
        </div>
        <div class="language one-third-last mobile-collapse">


            <p class="nav-text-pull-center">
                <a ng-if="currentPath != '/login'" href="#/home"><img src="images/breeze_logo.png" class="logo_image"></a>
                <a ng-if="currentPath == '/login'" href="#/login"><img src="images/breeze_logo.png" class="logo_image"></a>
            </p>

        </div>
    </div>
</div>


<div class="section-inner clearfix" >

        <div class="well well-sm navbar-custom">
            <div ng-if="currentPath != '/login'">
            <b>Welcome to Weston's BREEZE Submission System:</b> {{agencyName}}
            <div class="pull-right"> <a href="javascript:void(0)" class="locationMenu" ng-click="generateActivityReport();" ng-show="isAdminAgent === true">Activity Report | </a> <span ng-if="currentPath != '/help'"><a href="javascript:void(0)" class="locationMenu" ng-click="help_clicked();">User Guide</a> | </span> <span ng-if="currentPath != '/home'">  <a href="#/home" class="locationMenu">Dashboard</a>  | </span> <a ng-controller="loginCtrl" id="logout" href="#" ng-click="Logout();" class="locationMenu">Logout</a>&nbsp;&nbsp;</div>
            </div>
        </div>

</div>

