/* Validation */
.login-form input.ng-invalid:not(.ng-pristine) {border:1px solid #FA9393 !important; border-left-width:5px !important;}
.login-form input.ng-valid {border:1px solid #47A447 !important;}
.login-form input.ng-valid {border:1px solid #BED8BE !important;}
.login-form input.ng-valid {border:1px solid #5CB85C !important;}
.login-form input.ng-valid {/*border:1px solid #97BA96 !important;*/ border-left-width:5px !important;}

.login{
    width:65%;
    margin:0 auto;
    padding-top:20px;
}

.position-absolute{
    position:absolute;
}
.margin-left-60px{
    margin-left: 60px;
}

.margin-bottom-0px{
    margin-bottom: 0px !important;
}

#radio-a label{
    position:relative;
    overflow:hidden;
    cursor:pointer;
    margin-right:12px;
}

#radio-a label input[type="radio"]{
    position: absolute;
    left:-9001px;
}

#radio-a .circ{
    width:12px;
    height:12px;
    border-radius: 12px;
    display:inline-block;
    border:2px solid white;
    top:1px;
    position:relative;
}

#radio-a .circ .dot{
    width:6px;
    height:6px;
    display:block;
    position: absolute;
    border-radius: 2em;
    left:1px;
    top:1px;
}

#radio-a label input[type="radio"]:checked ~ .circ .dot{
    background-color:white;
}
.margin-top-12px{
    margin-top: 12px;
}

.margin-left-2per{
    margin-left:2%;
}

.margin-top-printout{
    margin-top: 25px;
}